{% extends 'base.html' %}

{% block website %}

  <div class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="container mx-auto py-8">
        <div class="text-center">
            <h2 class="text-4xl font-semibold mb-4 dark:text-white">Discover Our Offerings</h2>
            <p class="text-lg text-gray-200">Popular Bonds</p>
        </div>
    </div>
  </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>AAPL BOND <small>02/12/2023</small></h3>
        <img class="thumbnail" src="static/images/appl stock.png">
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Explore <strong>$APPL</strong></strong> bond</a></li>
            
          </ul>
        </div>
        <div class="blog-post">
            <h3>AAPL BOND <small>02/12/2023</small></h3>
            <img class="thumbnail" src="static/images/appl stock.png">
            <div class="callout">
              <ul class="menu simple">
                <li><a href="#">Explore <strong>$APPL</strong></strong> bond</a></li>
                
              </ul>
            </div>
            <div class="blog-post">
                <h3>AAPL BOND <small>02/12/2023</small></h3>
                <img class="thumbnail" src="images/appl stock.png">
                <div class="callout">
                  <ul class="menu simple">
                    <li><a href="#">Explore <strong>$APPL</strong></strong> bond</a></li>
                    
                  </ul>
                </div>
                <div class="blog-post">
                    <h3>AAPL BOND <small>02/12/2023</small></h3>
                    <img class="thumbnail" src="images/appl stock.png">
                    <div class="callout">
                      <ul class="menu simple">
                        <li><a href="#">Explore <strong>$APPL</strong></strong> bond</a></li>
                        
                      </ul>
                    </div>
                    <div class="blog-post">
                        <h3>AAPL BOND <small>02/12/2023</small></h3>
                        <img class="thumbnail" src="images/appl stock.png">
                        <div class="callout">
                          <ul class="menu simple">
                            <li><a href="#">Explore <strong>$APPL</strong></strong> bond</a></li>
                            
                          </ul>
                        </div>

{% endblock %}
