<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saksham's Personal Webpage</title>
    <style>
        p {
            font-family: Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Hello, Saksham!</h1>
 
    <p>Welcome to Saksham's personal webpage, showcasing various elements.</p>
 
    <h2>Print Saksham in Tahoma Font:</h2>
    <p>Saksham</p>
 
    <h2>Definition List with 5 Items:</h2>
    <dl>
        <dt>Education:</dt>
        <dd>Currently pursuing BCA.</dd>
 
        <dt>Hobbies:</dt>
        <dd>Passionate about reading,coding.</dd>
 
        <dt>Skills:</dt>
        <dd>Proficient in Python, and web development technologies.</dd>
 
        <dt>Projects:</dt>
        <dd>Developed a personal website, web apis.</dd>
 
        <dt>Goals:</dt>
        <dd>Striving for continuous learning and career growth.</dd>
    </dl>
 
    <h2>Links to Five Different Pages:</h2>
    <ul>
        <li><a href="about.html">About Me</a></li>
        <li><a href="google.com">Google</a></li>
        <li><a href="od-terminal.vercel.app">OD Terminal</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</body>
</html> 

