{% extends 'base.html' %}

{% block website %}

<style>
    .countdown-card {
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .countdown-timer {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 8px;
        color: #555555;
    }

    .countdown-message {
        font-size: 1rem;
        color: #777777;
    }
    .up-arrow {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid #3498db; /* Change color as needed */
        }

        /* Down arrow */
        .down-arrow {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid #e74c3c; /* Change color as needed */
        }

        /* Animated arrow going up */
        .animated-up-arrow {
            animation: animateUpArrow 1s infinite alternate; /* Adjust animation speed and style as needed */
        }

        @keyframes animateUpArrow {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-5px);
            }
        }
        @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .float-card {
        animation: floatAnimation 3s infinite;
    }
</style>
<script>
    function updateCountdown() {
        const marketCloseTime = new Date();
        marketCloseTime.setUTCHours(20, 0, 0, 0); // US market close time (4:00 PM Eastern Time)

        const now = new Date();
        const timeDifference = marketCloseTime - now;

        const hours = Math.floor(timeDifference / (1000 * 60 * 60));
        const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

        document.getElementById('countdown-timer').innerText = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
    }

    setInterval(updateCountdown, 1000);
</script>

<div class="flex justify-start items-start flex-col md:flex-row">
    <div class="relative max-w-full max-h-128">
        <!-- Static image -->
        <img src="https://i.ibb.co/pWMGvTc/notion.png" class="w-full h-full object-contain" alt="Static Image">
        <hr class="border-gray-200 sm:mx-auto dark:border-gray-700" />
    </div>
    <div class="flex pl-8 pt-16 md:pl-8 ml-16">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 p-2 md:p-8 ml-2 md:ml-16">
            {% for i in topc %}
            <div class="float-card bg-white dark:bg-gray-800 shadow-md md:p-2 p-4 rounded-md ml-4">
                <div class="text-xl font-semibold mb-2 dark:text-white">{{i.name}}</div>
                <div class="text-gray-600 dark:text-gray-400 mb-2">Current Price: ${{i.LastPrice}}</div>
                <div class="text-gray-600 dark:text-gray-400 mb-2">Last Price: ${{i.PreviousClosePrice}}</div>
                <div class="flex items-center mb-2">
                    <span class="text-{{i.color}}-500 dark:text-{{i.color}}-400 mr-1">{{i.ChangePercent}}%</span>
                    <svg class="w-4 h-4 text-{{i.color}}-500 dark:text-{{i.color}}-400{{i.transform}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                        <path fill-rule="evenodd" d="M10 0a1 1 0 011 1v9a1 1 0 01-1 1H5a1 1 0 010-2h4V2a1 1 0 011-1z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M0 10a1 1 0 011-1h9a1 1 0 110 2H1a1 1 0 01-1-1z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-{{i.color}}-500 dark:text-{{i.color}}-400 mr-1">{{i.ChangeAbsolute}}%</span>
                </div>
            </div>
            {% endfor %}
            <div class="float-card bg-white dark:bg-gray-800 shadow-md md:p-2 p-4 rounded-md">
                <div class="countdown-card">
                    <div class="text-lg font-semibold mb-2 dark:text-black">US Market Closure:</div>
                    <div class="countdown-timer" id="countdown-timer">--:--:--</div>
                    <div class="countdown-message">Remaining</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="container mx-auto py-8 text-left flex items-center justify-between p-8">
        <div class="text-left w-1/3">
            <h2 class="text-5xl font-semibold dark:text-white">Discover Our Offerings</h2>
            <p class="text-lg text-gray-200 dark:text-gray-400 leading-loose">
                Welcome to <span class="text-blue-500 font-bold">ODT</span>, where we provide a diverse range of financial services and investment opportunities to meet your unique needs. Our offerings are designed to empower you on your financial journey and help you achieve your investment goals.
                <br><br>
                <span class="text-xl font-semibold text-blue-500">Why Choose ODT:</span>
                <ul class="list-disc list-inside text-gray-700 dark:text-gray-400">
                    <li class="mb-2">Expertly curated list of top bonds.</li>
                    <li class="mb-2">Real-time market data and insights to keep you informed.</li>
                    <li class="mb-2">User-friendly interface for easy exploration and navigation.</li>
                    <li class="mb-2">Dedicated support team ready to assist you.</li>
                    Explore our website to discover the exciting opportunities that await you. Whether you're a seasoned investor or just getting started, <span class="text-blue-500 font-bold">ODT</span> is your trusted partner in financial success.
                </ul>
            </p>
        </div>
        <div class="float-card w-1/2">
            <img src="https://coinpulse.cc/images/slide4.png" alt="Background Image" class="w-full h-auto rounded-lg" />
        </div>
    </div>
</div>






    <div class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="container mx-auto py-8">
            <div class="text-center">
                <h2 class="text-4xl font-semibold mb-4 dark:text-white">TOP BONDS</h2>
                <hr class="border-gray-200 sm:mx-auto dark:border-gray-700" />
            </div>
        </div>
      </div>
    <div class="flex justify-start items-start flex-col md:flex-row">
        <div class="flex-2 pl-8">
            <div class="overflow-x-auto shadow-md sm:rounded-lg ml-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Isin
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Yield
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Moodys Rating
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Maturity Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in topbonds %}
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a href="/details/{{value.name}}/{{value.isin}}/{{value.link}}/{{value.name}}" class="hover:underline">
                                    {{ value.name }}
                                </a>
                            </th>
                            <td class="px-6 py-4">
                                {{ value.isin }}
                            </td>
                            <td class="px-6 py-4">
                                {{ value.yield }}
                            </td>
                            <td class="px-6 py-4">
                                {{ value.moodys }}
                            </td>
                            <td class="px-6 py-4">
                                {{ value.date }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex-1 min-h-screen pl-8 p-2">
            <h2 class="text-2xl font-semibold mb-4 dark:text-white">About Bonds</h2>
            <p class="text-gray-700 dark:text-gray-300 leading-loose">
                Bonds are fixed-income securities that represent a loan made by an investor to a borrower. In essence, when you invest in bonds, you are lending money to a corporation, municipality, or government in exchange for periodic interest payments and the return of the principal amount at maturity.
                <br><br>
                Key Features of Bonds:
                <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
                    <li>Yield: The annual interest rate paid by the bond issuer.</li>
                    <li>Moodys Rating: A credit rating assigned to the bond indicating its creditworthiness.</li>
                    <li>Maturity Date: The date when the principal amount is due to be repaid.</li>
                    <br>
                    Explore our curated list of top bonds, each providing unique opportunities for investors. Click on the bond names to learn more about their details.
                </ul>
            </p>
        </div>
    </div>

    <div class="bg-white border-gray-200 dark:bg-gray-900">
      <div class="container mx-auto py-8">
          <div class="text-center">
              <h2 class="text-4xl font-semibold mb-4 dark:text-white">TOP NEWS</h2>
              <hr>
          </div>
      </div>
    </div>
    
    <div class="grid grid-cols-2 gap-8 md:grid-cols-4 p-4">
        {% for i in news1 %}
            <a href="{{i.link}}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 overflow-hidden">
                <img class="w-full h-36 md:h-64 object-contain rounded-t-lg md:rounded-t-none md:rounded-l-lg" src="{{i.image}}" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{i.title}}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">News</p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}