{% extends 'base.html' %}

{% block website %}

<style>
    .countdown-card {
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .countdown-timer {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 8px;
        color: #555555;
    }

    .countdown-message {
        font-size: 1rem;
        color: #777777;
    }
</style>
<script>
    function updateCountdown() {
        const marketCloseTime = new Date();
        marketCloseTime.setUTCHours(20, 0, 0, 0); // US market close time (4:00 PM Eastern Time)

        const now = new Date();
        const timeDifference = marketCloseTime - now;

        const hours = Math.floor(timeDifference / (1000 * 60 * 60));
        const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

        document.getElementById('countdown-timer').innerText = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
    }

    setInterval(updateCountdown, 1000);
</script>

<div class="flex justify-start items-start flex-col md:flex-row">
    <div class="relative max-w-full max-h-128">
        <!-- Static image -->
        <img src="https://i.ibb.co/pWMGvTc/notion.png" class="w-full h-full object-contain" alt="Static Image">
    </div>
    <div class="flex pl-8 pt-16 md:pl-8 ml-16">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 p-2 md:p-8 ml-2 md:ml-16">
            {% for i in topc %}
            <div class="bg-white dark:bg-gray-800 shadow-md md:p-2 p-4 rounded-md ml-4">
                <div class="text-xl font-semibold mb-2 dark:text-white">{{i.name}}</div>
                <div class="text-gray-600 dark:text-gray-400 mb-2">Current Price: ${{i.LastPrice}}</div>
                <div class="text-gray-600 dark:text-gray-400 mb-2">Last Price: ${{i.PreviousClosePrice}}</div>
                <div class="flex items-center mb-2">
                    <span class="text-{{i.color}}-500 dark:text-{{i.color}}-400 mr-1">{{i.ChangePercent}}%</span>
                    <svg class="w-4 h-4 text-{{i.color}}-500 dark:text-{{i.color}}-400{{i.transform}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                        <path fill-rule="evenodd" d="M10 0a1 1 0 011 1v9a1 1 0 01-1 1H5a1 1 0 010-2h4V2a1 1 0 011-1z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M0 10a1 1 0 011-1h9a1 1 0 110 2H1a1 1 0 01-1-1z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-{{i.color}}-500 dark:text-{{i.color}}-400 mr-1">{{i.ChangeAbsolute}}%</span>
                </div>
            </div>
            {% endfor %}
            <div class="bg-white dark:bg-gray-800 shadow-md md:p-2 p-4 rounded-md">
                <div class="countdown-card">
                    <div class="text-lg font-semibold mb-2 dark:text-black">US Market Closure:</div>
                    <div class="countdown-timer" id="countdown-timer">--:--:--</div>
                    <div class="countdown-message">Remaining</div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="container mx-auto py-8">
        <div class="text-center">
            <h2 class="text-4xl font-semibold mb-4 dark:text-white">Discover Our Offerings</h2>
            <p class="text-lg text-gray-200">Explore a wide range of services tailored just for you.</p>
        </div>
    </div>
</div>


    <div class="grid grid-cols-2 gap-8 md:grid-cols-4">
      <div class="max-w-sm mx-auto bg-white border border-gray-300 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
          <a href="explore_website.html">
              <img class="w-full h-40 object-cover" src="https://i.ibb.co/S5MTSJN/bonds.jpg" alt="Bonds" />
          </a>
          <div class="p-4">
              <a href="explore_website.html">
                  <h5 class="mb-2 text-xl font-semibold text-gray-800 dark:text-white">Bonds</h5>
              </a>
              <a href="explore_website.html" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Explore Bonds
                  <svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
          </div>
      </div>
      <!-- Add more cards as needed -->
      <div class="max-w-sm mx-auto bg-white border border-gray-300 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
        <a href="explore_website.html">
            <img class="w-full h-40 object-cover" src="https://i.ibb.co/S5MTSJN/bonds.jpg" alt="Stocks" />
        </a>
        <div class="p-4">
            <a href="explore_website.html">
                <h5 class="mb-2 text-xl font-semibold text-gray-800 dark:text-white">Stocks</h5>
            </a>
            <a href="explore_website.html" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Explore Stocks
                <svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
      </div>
      <div class="max-w-sm mx-auto bg-white border border-gray-300 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
        <a href="explore_website.html">
            <img class="w-full h-40 object-cover" src="https://i.ibb.co/S5MTSJN/bonds.jpg" alt="Gold" />
        </a>
        <div class="p-4">
            <a href="explore_website.html">
                <h5 class="mb-2 text-xl font-semibold text-gray-800 dark:text-white">Gold</h5>
            </a>
            <a href="explore_website.html" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Explore Gold
                <svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
      </div>
      <div class="max-w-sm mx-auto bg-white border border-gray-300 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
        <a href="explore_website.html">
            <img class="w-full h-40 object-cover" src="https://i.ibb.co/S5MTSJN/bonds.jpg" alt="Options" />
        </a>
        <div class="p-4">
            <a href="explore_website.html">
                <h5 class="mb-2 text-xl font-semibold text-gray-800 dark:text-white">Options</h5>
            </a>
            <a href="explore_website.html" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Explore Options
                <svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
      </div>
    </div> 

    <div class="bg-white border-gray-200 dark:bg-gray-900">
      <div class="container mx-auto py-8">
          <div class="text-center">
              <h2 class="text-4xl font-semibold mb-4 dark:text-white">TOP NEWS</h2>
              <hr>
          </div>
      </div>
    </div>
    
    <div class="grid grid-cols-2 gap-8 md:grid-cols-4 p-4">
        {% for i in news1 %}
            <a href="{{i.link}}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 overflow-hidden">
                <img class="w-full h-36 md:h-64 object-contain rounded-t-lg md:rounded-t-none md:rounded-l-lg" src="{{i.image}}" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{i.title}}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">News</p>
                </div>
            </a>
        {% endfor %}
    </div>
    
  
    <br>
    <hr>
    

{% endblock %}