{% extends 'base.html' %}

{% block website %}

<div class="bg-gray-900 border-gray-200 dark:bg-gray-900">
    <div class="container mx-auto py-8">
        <div class="text-center">
            <h2 class="text-4xl font-semibold mb-4 dark:text-white">Search Result for : {{name}}</h2>
            <p class="text-lg text-gray-200">Explore a wide range of services tailored just for you.</p>
        </div>
    </div>
</div>

<div class="flex justify-center items-center min-h-screen">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Issuer
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Issue Year
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Maturity Year
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Isin
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in data.items %}
                <tr
                    class="bg-gray-900 border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <a href="/details/{{name}}/{{value.isin}}/{{key}}/{{value.name}}" class="hover:underline">
                            {{ value.name }}
                        </a>
                    </th>
                    <td class="px-6 py-4">
                        {{ value.issuer }}
                    </td>
                    <td class="px-6 py-4">
                        {{ value.issuedate }}
                    </td>
                    <td class="px-6 py-4">
                        {{ value.maturitydate }}
                    </td>
                    <td class="px-6 py-4">
                        {{ value.isin }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}